@charset "UTF-8";

#divsimples {
    background-color: lightcyan;
    text-align: center;
    border: 1px solid black;
}

.divcomplexa {
    display: inline-block;
    background-color: lightcyan;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}