@charset "UTF-8";

div:hover > h1 {
    color: brown;
    text-decoration: underline;
}

a::before {
    content: '* ';
}

a::after {
    content: ' *';
}

h2:active {
    color: orange;
}